:root {
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--system-font);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  color: #eeeeee;
}

main {
    border-radius: 5px;
    padding: 50px;
    background-color: #393e4665;
}

.info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  margin-bottom: 50px;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 1 / 3;
}

#address {
  font-size: 2rem;
}

#description {
    font-size: 1.2rem;
}

.main-info {
  display: flex;
  align-items: center;
  gap: 50px;
}

#icon {
  width: 200px;
}

.temperature-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

#conditions {
  font-size: 1.5rem;
}

#temp {
  font-size: 3rem;
}

#temp + .measurement-temp {
  font-size: 3rem;
}

#feelslike {
  font-size: 1.2rem;
}

#feelslike + .measurement-temp {
  font-size: 1.2rem;
}

.secondary-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.secondary-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary-info img {
    width: 60px;
}